fastapi 
uvicorn[standard] 
sqlalchemy 
pydantic 
email-validator 
python-multipart
python-dotenv
torch 
transformers 
scikit-learn 
numpy
matplotlib
pandas
tensorflow
seaborn
pymysql 
mysqlclient
opencv-python
kagglehub