# main library for FastApi run command line ' pip install '

fastapi 
uvicorn[standard] 
sqlalchemy 
pydantic 
email-validator 
python-multipart

# main library for AI run command line ' pip install '

torch 
transformers 
scikit-learn 
numpy

# main library for Database run command line ' pip install '
sqlalchemy 
pymysql 
mysqlclient



###########################################
##  Activate a virtual work environment  ##
###########################################

###### in backend directory run this command line to creat environment and run 

# python -m venv venv
# venv\Scripts\activate

###### to run FastApi server 

# uvicorn app.main:app --reload